<a href="https://colab.research.google.com/github/bruno-jssousa/ExCap02_Dsa/blob/main/Ex02_DSA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercício 1 - Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.

In [ ]:
listaExp01 = []

for i in range(1,11):
  listaExp01.append(i)
  print(i)

print(listaExp01)

1
2
3
4
5
6
7
8
9
10
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Exercício 2 - Crie uma lista de 5 objetos e imprima na tela

In [ ]:
listaExp02 = ['cama','guarda-roupa','armario','geladeira','mesa']

print(listaExp02)

['cama', 'guarda-roupa', 'armario', 'geladeira', 'mesa']

# Exercício 3 - Crie duas strings e concatene as duas em uma terceira string

In [ ]:
nome = 'Bruno '
sobrenome = 'Santana'
nomeCompleto = nome + sobrenome

print(nomeCompleto)

Bruno Santana

# Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do 
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla

In [ ]:
tuplaExp04 = (1,2,2,3,4,4,4,5)

print(tuplaExp04.count(4))

3

# Exercício 5 - Crie um dicionário vazio e imprima na tela

In [ ]:
dicioExp05 = {}

print(dicioExp05)

{}

# Exercício 6 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela

In [ ]:
dicioExp06 = {'junior':18,'marcos':20,'lucas':25}
print(dicioExp06)

{'junior': 18, 'marcos': 20, 'lucas': 25}

# Exercício 7 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela

In [ ]:
dicioExp06['emerson'] = 34
print(dicioExp06)

{'junior': 18, 'marcos': 20, 'lucas': 25, 'emerson': 34}

# Exercício 8 - Crie um dicionário com 3 chaves e 3 valores. Um dos valores deve ser uma lista de 2 elementos numéricos. 
# Imprima o dicionário na tela.

In [ ]:
idExp08 ={'pedro':2574,'kleber':[1346,8549],'douglas':3467}
print(idExp08)

{'pedro': 2574, 'kleber': [1346, 8549], 'douglas': 3467}

# Exercício 9 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string, 
# o segundo uma tupla de 2 elementos, o terceiro um dcionário com 2 chaves e 2 valores e 
# o quarto elemento um valor do tipo float.
# Imprima a lista na tela.

In [ ]:
  listaExp09 = ['primeiro',('elemento1','elemento2'),{'dicio1':1,'dicio:2':2},52.51]
  print(listaExp09)
  print(listaExp09[3])

['primeiro', ('elemento1', 'elemento2'), {'dicio1': 1, 'dicio:2': 2}, 52.51]
52.51

In [ ]:
# Exercício 10 - Considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 18.
frase = 'Cientista de Dados é o profissional mais sexy do século XXI'

print(frase[0:18]) 
# A primeira posição é 0.

Cientista de Dados